# Logs
logs/
*.log

# Maven build outputs
**/target/
**/target-maven/

# Frontend build outputs
**/dist/
**/node_modules/

# IDE settings
.idea/
.vscode/
*.iml

# Root node package lockfile (since no package.json in root)
/package-lock.json