# auth-service environment variables
SERVER_PORT=8081
DB_URL=jdbc:mysql://localhost:3306/auth_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=
GATEWAY_SECRET=FlowBoardGateway2024
EUREKA_SERVER=http://localhost:8761/eureka/
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
